.gamesList {
    margin-top: 80px;
    &__title {
        font-family: 'TTNorms-Bold', sans-serif;
        font-size: 13px;
        color: #ffffff;
        margin-bottom: 34px;
    }
    &__content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 70px;
        &__card {
            text-decoration: none;
        }
    }
    &__card {
        text-decoration: none;
    }
}