.gameDetail {
    color: white;
    &__hero {
        height: 819px;
        width: 100%;
        position: relative;
        padding: 0 182px;
        box-sizing: border-box;
        &:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            background-image: radial-gradient(circle at 56% 50%, rgba(3, 6, 22, 0), #030616 137%), linear-gradient(to bottom, rgba(3, 6, 22, 0), rgba(3, 6, 22, 0.02) 5%, #030616 96%);
            top: 0;
            position: absolute;
            left: 0;
            pointer-events: none;
            z-index: 0;
        }
    }
    &__heroImg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        object-fit: cover;
        opacity: 0.4;
        max-height: 100%;
    }
    &__backButton {
        position: relative;
        margin-top: 42px;
        z-index: 2;
        appearance: none;
        background: none;
        color: white;
        border: none;
        cursor: pointer;
    }
    &__tags {
        position: relative;
        z-index: 2;
        margin-top: 400px;
        font-family: Roboto, sans-serif;
        font-size: 10px;
        text-transform: uppercase;
        display: grid;
        align-items: center;
        grid-template-columns: auto 1fr;
        grid-gap: 12px;
    }
    &__tagsIcon {
        padding: 5px;
        background-color: #ff005e;
        border-radius: 50%;
    }
    &__title {
        position: relative;
        font-family: Roboto, sans-serif;
        font-size: 72px;
        z-index: 2;
        margin: 40px 0 50px;
    }
    &__priceHeader {
        margin: 0 182px;
        padding: 32px;
        background-color:#24262e;
        display: grid;
        grid-template-columns: 1fr auto;
        align-items: center;
    }
    &__price {
        font-family: Roboto;
        font-size: 48px;
    }
    &__description {
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 1200px;
        grid-gap: 32px;
        margin: 80px auto 200px;
    }
    &__img {
        max-width: 100%;
        border-radius: 5%;
    }
}