.gameCard {
    color: #ffffff;
    display: grid;
	grid-template: 
        "img img" auto
        "info button" auto
        / 2fr 1fr;
    &__img {
        grid-area: img;
        width: 100%;
        max-width: 100%;
        border-radius: 5%;
        margin-bottom: 10px;
    }
    &__info {
        grid-area: info;
    }
    &__title {
        font-size: 20px;
        font-weight: bold;
        font-family: "TTNorms-Bold", sans-serif;
        margin: 0;
    }
    &__price {
        font-size: 15px;
        opacity: 0.6;
        font-weight: 500;
        font-family: "TTNorms-Medium", sans-serif;
        margin: 0;
    }
    .button {
        grid-area: button;
    }
}